extends ../layout/index

block contenido
   div.py-10
      a(href="/")
        h1.text-4xl.my-10.font-extrabold.text-center My
            span.font-normal Paw
      h2.text-center.text-2xl.font-extrabold= pagina

      if errores 
        div(class="max-w-md mx-auto my-10")
            each error in errores 
                p.bg-red-600.text-white.uppercase-text-xs.text-center.p-2.mb-1.fond-bold= error.msg

      .mt-8.mx-auto.max-w-md
        .bg-white.py-8.px-4.shadow
            form.space-y-5(method="POST" action="/auth/registro" noValidate)
                input(type="hidden" name="_csrf" value=csrfToken)
                div
                    label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="nombre") Tu Nombre
                    input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu Nombre" type="text"  minlength="1" maxlength="40" name="nombre" value= usuario ? usuario.nombre : '')
                div
                    label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="apellido_paterno") Tu Apellido Paterno
                    input#apellido_paterno.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu Apellido paterno" type="text" name="apellido_paterno" minlength="1" maxlength="40"  value= usuario ? usuario.apellido_paterno : '')
                div
                    label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="apellido_materno") Tu Apellido Materno
                    input#apellido_materno.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu Apellido materno" type="text" name="apellido_materno" minlength="1" maxlength="40"  value= usuario ? usuario.apellido_materno : '')
                div
                    label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="numero_contacto") Tu número de contacto
                    input#numero_contacto.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Número de contacto" type="number" name="numero_contacto"   value= usuario ? usuario.numero_contacto : '')
                div
                    label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="email") Tu Email
                    input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu Email" type="text" name="email"  maxlength="50"  value= usuario ? usuario.email :  '')
                div
                    label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="password") Tu Password
                    input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="***********" type="password" name="password" minlength="6" maxlength="15" )
                div
                    label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="repetir_password") Repetir Password
                    input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="***********" type="password" name="repetir_password"  minlength="6" maxlength="15" )

                div.flex.items-center.justify-between
                    a.text-gray-500.text-xs(href="/auth/login") ¿Ya tienes cuenta? Iniciar Sesión
                    a.text-gray-500.text-xs(href="/auth/olvide-password") Olvide mi password

                input(class="w-full bg-indigo-600 hover:bg-indigo-800 text-white font-bold py-3 cursor-pointer" type="submit" value="Crear Cuenta")